
<div class="container">
    <h2 style="text-align: center;"> Tipos de pokemon </h2>
    <div class="agregar">
        <button mat-mini-fab class="add" (click)="addUser()">
            <mat-icon>add</mat-icon>
        </button>
        <mat-form-field class="search">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Consultar pokemon" #input>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
    
    
            <!-- Name Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let type"> {{type.id}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nomre </th>
                <td mat-cell *matCellDef="let type"> {{type.name}} </td>
            </ng-container>
    
            <!-- action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                <td mat-cell *matCellDef="let type">
                    <button class="buttonEdit" (click)="openDialogEditar(type)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="buttonEdit" (click)="delate(type)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>